# Day15 Assignment

## SyntaxError

### Exercise 1

In [1]:
print 'hello world'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2134528244.py, line 1)

In [2]:
print('hello world')

hello world

## NameError

### Exercise 1

In [3]:
print(age)

NameError: name 'age' is not defined

In [4]:
age = 25
print(age)

25

## IndexError

### Exercise 1

In [5]:
numbers = [1, 2, 3, 4, 5]
numbers[5]

IndexError: list index out of range

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers[3]

4

## ModuleNotFoundError

### Exercise 1

In [6]:
import maths

ModuleNotFoundError: No module named 'maths'

In [7]:
import math

## AttributeError

### Exercise 1

In [9]:
import math
math.PI

AttributeError: module 'math' has no attribute 'PI'

In [10]:
import math
math.pi

3.141592653589793

## KeyError

### Exercise 1

In [13]:
users = {'name':'Asab', 'age':250, 'country':'Finland'}
users['name']

'Asab'

In [14]:
users['county']

KeyError: 'county'

In [15]:
user = {'name':'Asab', 'age':250, 'country':'Finland'}
user['name']

'Asab'

In [16]:
user['county']

KeyError: 'county'

In [17]:
user['country']

'Finland'

## TypeError

### Exercise 1

In [18]:
4 + '3'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [19]:
4 + int('3')

7

In [20]:
4 + float('3')

7.0

## ImportError

### Exercise 1

In [21]:
from math import power

ImportError: cannot import name 'power' from 'math' (unknown location)

In [23]:
from math import pow
pow(2,3)

8.0

## ValueError

### Exercise 1

In [24]:
int('12a')

ValueError: invalid literal for int() with base 10: '12a'

In [25]:
int('12')

12

## ZeroDivisionError

### Exercise 1

In [26]:
1/0

ZeroDivisionError: division by zero