# Day7 Assignment

## Exercise: Level 1

### Exercise 1

In [1]:
#Find the length of the set it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(len(it_companies))

7

### Exercise 2

In [4]:
#Add 'Twitter' to it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.add('Twitter')
print(it_companies)

{'IBM', 'Apple', 'Amazon', 'Facebook', 'Oracle', 'Twitter', 'Microsoft', 'Google'}

### Exercise 3

In [5]:
#Insert multiple IT companies at once to the set it_companies
it_companies.update(['WhatsApp', 'Intstagram', 'TikTok'])
print(it_companies)

{'Amazon', 'Oracle', 'Intstagram', 'Google', 'Apple', 'Facebook', 'Microsoft', 'WhatsApp', 'IBM', 'Twitter', 'TikTok'}

### Exercise 4

In [6]:
#Remove one of the companies from the set it_companies
it_companies.pop()
print(it_companies)

{'Oracle', 'Intstagram', 'Google', 'Apple', 'Facebook', 'Microsoft', 'WhatsApp', 'IBM', 'Twitter', 'TikTok'}

### Exercise 5

In [7]:
#What is the difference between remove and discard
"""The remove() method will raise an error if the element is not present in the set,
while the discard() method will not raise an error in such a case."""
#Remove
it_companies.remove('Blackberry')
print(it_companies)

KeyError: 'Blackberry'

In [8]:
#Discard
it_companies.discard('Blackberry')
print(it_companies)

{'Oracle', 'Intstagram', 'Google', 'Apple', 'Facebook', 'Microsoft', 'WhatsApp', 'IBM', 'Twitter', 'TikTok'}

## Exercise: Level 2

### Exercise 1

In [9]:
#Join A and B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
C = A.union(B)
print(C)

{19, 20, 22, 24, 25, 26, 27, 28}

### Exercise 2

In [10]:
#Find A intersection B
A.intersection(B)

{19, 20, 22, 24, 25, 26}

### Exercise 3

In [11]:
#Is A subset of B
A.issubset(B)

True

### Exercise 4

In [12]:
#Are A and B disjoint sets
A.isdisjoint(B)

False

### Exercise 5

In [13]:
#Join A with B and B with A
C = A.union(B)
print(C)
D= B.union(A)
print(D)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

### Exercise 6

In [14]:
#What is the symmetric difference between A and B
A.symmetric_difference(B)

{27, 28}

### Exercise 7

In [15]:
#Delete the sets completely
del A

In [16]:
del B

## Exercise: Level 3

### Exercise 1

In [17]:
#Convert the ages to a set and compare the length of the list and the set, which one is bigger?
age = [22, 19, 24, 25, 26, 24, 25, 24]
to_set = set(age)
print(to_set)
print('Length of the list:', len(age))
print('Length of the set:', len(to_set))
print('List is bigger')

{19, 22, 24, 25, 26}
Length of the list: 8
Length of the set: 5
List is bigger

### Exercise 2

In [18]:
#Explain the difference between the following data types: string, list, tuple and set
Strings = 'Strings are immutable sequences of characters, and they can be enclosed in single quotes, double quotes, or triple quotes.' 
print(Strings)
Lists = 'Lists are ordered, changeable, and can contain duplicate values. They are created using square brackets [] and can store elements of any data type, including strings, integers, and other objects.'
print(Lists)
Tuples = 'Tuples are immutable sequences of elements, but unlike strings, they can be mixed-type sequences. Tuples are created using parentheses () and can store elements in columns of a single row.'
print(Tuples)
Sets = 'Sets are mutable, unordered collections of unique elements. They are created using the set() function or the {} syntax and can store elements of any data type.'
print(Sets)

Strings are immutable sequences of characters, and they can be enclosed in single quotes, double quotes, or triple quotes.
Lists are ordered, changeable, and can contain duplicate values. They are created using square brackets [] and can store elements of any data type, including strings, integers, and other objects.
Tuples are immutable sequences of elements, but unlike strings, they can be mixed-type sequences. Tuples are created using parentheses () and can store elements in columns of a single row.
Sets are mutable, unordered collections of unique elements. They are created using the set() function or the {} syntax and can store elements of any data type.

### Exercise 3

In [19]:
#I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.
sentence = 'I am a teacher and I love to inspire and teach people'

unique_words = set(sentence.split())
print('Unique words in the sentence:', unique_words)

Unique words in the sentence: {'teacher', 'to', 'teach', 'am', 'I', 'people', 'inspire', 'and', 'a', 'love'}