# Day6 Assignment

## Exercise: Level 1

### Exercise 1

In [23]:
#Create an empty tuple
empty_tuple = ()

### Exercise 2

In [24]:
#Create a tuple containing names of your sisters and your brothers
siblings =('Maryam','Zainab','Kamal','Muhammad','Alamin')
print(siblings)

('Maryam', 'Zainab', 'Kamal', 'Muhammad', 'Alamin')

### Exercise 3

In [25]:
#Join brothers and sisters tuples and assign it to siblings
sisters = ('Maryam','Zainab')
brothers = ('Muhammad','Kamal','Alamin')
siblings = sisters + brothers
print(siblings)

('Maryam', 'Zainab', 'Muhammad', 'Kamal', 'Alamin')

### Exercise 4

In [26]:
#How many siblings do you have?
num_siblings = len(siblings)
print('I have', num_siblings, 'siblings.')

I have 5 siblings.

### Exercise 5

In [27]:
#Modify the siblings tuple and add the name of your father and mother and assign it to family_members
siblings =('Maryam','Zainab','Kamal','Muhammad','Alamin')
father = 'Garba'
mother = 'Ummi'
family_members = siblings + (father, mother)
print(family_members)

('Maryam', 'Zainab', 'Kamal', 'Muhammad', 'Alamin', 'Garba', 'Ummi')

## Exercise: Level 2

### Exercise 1

In [28]:
#Unpack siblings and parents from family_members
family_members = ('Maryam','Zainab','Kamal','Muhammad','Alamin','Garba','Ummi')
sisters = family_members[:2]
brothers = family_members[2:5]
parents = family_members[5:]
print(parents)
print(sisters)
print(brothers)

('Garba', 'Ummi')
('Maryam', 'Zainab')
('Kamal', 'Muhammad', 'Alamin')

### Exercise 2

In [30]:
#Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.
fruits = ('Mango', 'Banana', 'Grape')
vegetables = ('Carrot', 'Spinach', 'Cabbage')
animal_products = ('Meat', 'Fish', 'Egg')
food_stuff_tp = fruits + vegetables + animal_products
print(food_stuff_tp)

('Mango', 'Banana', 'Grape', 'Carrot', 'Spinach', 'Cabbage', 'Meat', 'Fish', 'Egg')

### Exercise 3

In [31]:
#Change the about food_stuff_tp tuple to a food_stuff_lt list
food_stuff_lt = list(food_stuff_tp)
print(food_stuff_lt)

['Mango', 'Banana', 'Grape', 'Carrot', 'Spinach', 'Cabbage', 'Meat', 'Fish', 'Egg']

### Exercise 4

In [32]:
#Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.
food_stuff_lt = ['Mango', 'Banana', 'Grape', 'Carrot', 'Spinach', 'Cabbage', 'Meat', 'Fish', 'Eggs']
middle = len(food_stuff_lt) // 2
middle_item = food_stuff_lt[middle:middle+1]
print(middle_item)

['Spinach']

### Exercise 5

In [33]:
#Slice out the first three items and the last three items from food_stuff_lt list
sliced_lt = food_stuff_lt[:3] + food_stuff_lt[-3:]
print(sliced_lt)

['Mango', 'Banana', 'Grape', 'Meat', 'Fish', 'Eggs']

### Exercise 6

In [39]:
#Delete the food_stuff_tp tuple completely
food_stuff_tp = ('Mango', 'Banana', 'Grape', 'Carrot', 'Spinach', 'Cabbage', 'Meat', 'Fish', 'Egg')
del food_stuff_tp

### Exercise 7

In [41]:
#Check if an item exists in tuple:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
print(nordic_countries)

('Denmark', 'Finland', 'Iceland', 'Norway', 'Sweden')

In [43]:
#Check if 'Estonia' is a nordic country
'Estonia' in nordic_countries

False

In [44]:
#Check if 'Iceland' is a nordic country
'Iceland' in nordic_countries

True